@media (max-width: 575.98px) {
    .logo-link {
        width: 60px;
    }

    .nav-link {
        margin-left: 0 !important;
    }

    #header-carousel .carousel-item img {
        min-height: 80vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;
    }

    .minh {
        padding-top: 0vh;

    }

    .paginationsty button, .paginationsty span {
        font-size: 13.1px;
    }

    .section-title h2 {
        font-size: 30px !important;
    }

    .header-box h4 {
        font-size: 20px;
        font-weight: 400 !important;
    }

    .izreke p {
        font-size: 19px !important;
    }

    .izreke span {
        font-size: 16px !important;

    }
    .izreke .fa-quote-right  {
        display: inline-block;
        right: -5px;
        position: relative;
        top: -7px;
    }

}

/*za malo veće telefone*/
@media (min-width: 355px) and (max-width: 575.9px) {
    .logo-link {
        width: 70px;
    }

    .nav-link {
        margin-left: 0 !important;
    }

    #header-carousel .carousel-item img {
        min-height: 80vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;

    }

    .minh {
        padding-top: 0vh;
    }

    .paginationsty button, .paginationsty span {
        font-size: 13.5px;
    }

    .section-title h2 {
        font-size: 32px !important;
    }


.header-box h4 {
    font-size: 22px !important; ;
    font-weight: 400 !important;
},
.izreke p {
    font-size: 20px !important;
}
    .izreke span {
        font-size: 17px !important;

    }
    .izreke .fa-quote-right  {
        display: inline-block;
        right: -5px;
        position: relative;
        top: -7px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .logo-link {
        width: 72px;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding-left: 0;
    }

    .nav-link {
        margin-left: 0 !important;
    }

    #header-carousel .carousel-item img {
        min-height: 80vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;

    }

    .minh {
        padding-top: 0vh;
    }

    .paginationsty button, .paginationsty span {
        font-size: 14px;
    }

    .section-title h2 {
        font-size: 32px !important;
    }

    .izreke p {
        font-size: 23px !important;
    }
    .izreke span {
        font-size: 20px !important;

    }
    .izreke .fa-quote-right  {
        display: inline-block;
        right: -5px;
        position: relative;
        top: -7px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .logo-link {
        width: 73px;
    }

    .nav-link {
        margin-left: 0 !important;
    }

    #header-carousel .carousel-item img {
        min-height: 80vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;

    }

    .minh {
        padding-top: 0vh;
    }

    .section-title h2 {
        font-size: 34px !important;
    }
    .service-item {
        min-height: 45vh;

    }

    .privredno-item{
        min-height: 22vh;

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo-link {
        width: 80px;
    }

    #header-carousel .carousel-item img {
        min-height: 80vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;

    }

    .section-title h2 {
        font-size: 35px !important;
    }

    .privredno-item{
        min-height:50vh;

    }
    .service-item {
        min-height:47vh;

    }

    .privredno-item{
        min-height:22vh;

    }
    
}

@media (min-width: 1200px) {
    .logo-link {
        width: 92px;
    }

    #header-carousel .carousel-item img {
        min-height: 90vh; /* 50% visine ekrana */
        object-fit: cover; /* iseče višak slike da popuni prostor */
        object-position: left center;

    }

    .section-title h2 {
        font-size: 37px !important;
    }

}



