.btn-primary{
    background-color: #507bb5 !important;
    border-color:#507bb5;
}
.btn-link{
    color: #507bb5;
    text-decoration: none;
}

.padel-border{
    border-radius: 7px;
}
.padel-bg{
    background-color: #507bb5 !important;
}
.padel-bg-yellow{
    background-color: #baca49 !important;
}
.padel-text{
    color: #baca49 !important;
}
.padel-text-blue{
    color: #507bb5 !important;
}
.padel-scroll {
    overflow-x: auto; /* Omogućava horizontalno skrolovanje */
}

.padel-cell {
    white-space: nowrap; /* Sprečava prelamanje teksta u ćelijama */
}
.padel-cell-tbody{
    padding-right:40px !important;
    padding-top:10px;
    padding-bottom: 10px;
    vertical-align: middle;
    cursor: pointer;
}


#gym-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Polu-providna bela pozadina */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Postavite z-index da bude iznad svih drugih elemenata */
}

/* Loader za teretanu */
.gym-loader {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #004591;
    border-style: solid hidden hidden solid;
    border-radius: 50%;
    animation: spin 5s linear infinite; /* Animacija za rotaciju */
}

/* Ikona tegića */
.gym-loader .fa-dumbbell {
    color: #004591;; /* Plava boja za ikonicu */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Senka */
    border-radius: 50%; /* Zaobljene ivice */
    padding: 25px; /* Veći padding */
}

.paginationsty button {
    margin: 5px;
    padding: 10px;
    background-color: #507bb5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paginationsty button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginationsty ul {
    list-style: none;
    padding: 0;
}

.paginationsty li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;

}
.paginationsty span {
    font-weight: bold;
    font-size: 14.5px;
}
.reservation-padding{
    padding: 0px 12px;
}
.time{
    padding: 0px;
}
.time:nth-child(odd){
    padding-right:7px
}
.time:nth-child(even){
    padding-left:7px
}
.time div{
    padding: 8px;
    border-radius: 4px;
    background-color:#e9f1fc;
    cursor: pointer;
    border: 1px solid #bdd6f5;
}

.selectedDiv div{
    background-color:#e9eec4;
    border-color:#dae29c;
}
.fa-circle-check{
    font-size: 22px;
}
.padel-buttons .btn{
    min-width:70.9px;
}
.custom-swal-icon {
    border: 2px solid #baca49 !important;
}
.gallery{
    background-color: #f2f2f2 !important;
}
.hidden {
    display: none;
}
